@import '../../styles/variables.scss';

.dropdown {
  display: flex;
  position: relative;
  &__selected {
    cursor: pointer;
    padding: 8px;
    border: 2px solid #282828;
    margin: 10px;
  }
  &__select {
    position: absolute;
    top: 36px;
    z-index: 1;
  }
  &__option {
    background: #282828;
    color: #FDFAFF;
    cursor: pointer;
    transition: .3s;
    padding: 8px;
    &:hover {
      background: $blueColor;
    }
  }
}