@import '../../styles/variables.scss';

.loading {
  animation: loading 1s linear infinite;
  width: 40px;
  height: 40px;
  border-top: 3px solid $blueColor;
  border-right: 3px solid $blueColor;
  border-radius: 50%;
}